In [1]:
#creating variables 
string = "hello world"
list = [12,23,45,"shubham",3+4j]
float =56.32
tuple =(12,34,2,3,56,78)

In [2]:
#given are some following variables containing data
var1 = string
var2 = string
var3 = list
var4 = integer

SyntaxError: invalid syntax (2295644032.py, line 1)

In [3]:
3
#division (/):
#The division operator is use to perform division between two number 
#Example:
a= 34/4

In [4]:
a

8.5

In [5]:
#(ii) Modulus %:this operator return the remainder after the divisiono of one number by another 
#example:
a = 9%4

In [6]:
a

1

In [7]:
#(iii) Floor division // :the floor division operators performs division between two numbers and rounds the results down to the nearest integer.
result=10//2
print(result)


#(iv) Exponentiation ** use for finding power of number 
#example
32**3

5

32768

In [1]:
#Q4
l=[10,"hello world",3+4j,32.23,True,123456,{"name":"rahul","age":21},(123),{"a","b","c"}]
for i in l:
    print(i)
    print (type(i))

10
<class 'int'>
hello world
<class 'str'>
(3+4j)
<class 'complex'>
32.23
<class 'float'>
True
<class 'bool'>
123456
<class 'int'>
{'name': 'rahul', 'age': 21}
<class 'dict'>
123
<class 'int'>
{'c', 'a', 'b'}
<class 'set'>

In [13]:
#Q6
l=[11,24,39,56,51,66,72,83,97,100,108,112,120,135,147,155,162,178,186,191,198,205,213,229,234]
for element in l:
    if element %3==0:
        print("{element} is divisible by 3.")
else:
            print("{element} is not divisible by 3.")

{element} is divisible by 3.
{element} is divisible by 3.
{element} is divisible by 3.
{element} is divisible by 3.
{element} is divisible by 3.
{element} is divisible by 3.
{element} is divisible by 3.
{element} is divisible by 3.
{element} is divisible by 3.
{element} is divisible by 3.
{element} is divisible by 3.
{element} is divisible by 3.
{element} is divisible by 3.
{element} is divisible by 3.
{element} is not divisible by 3.

In [16]:
#Q7 Mutable data type are objects whose content can be modified after they are created.This means you can remove,add
#,change elements without creating a new object.
#example of mutable data types are: List,dictionaries,Sets.
list=[1,4,"Rahul",32]
print(list)

[1, 4, 'Rahul']

In [17]:
#chage in list
list[2]="shubham"
print(list)

[1, 4, 'shubham']

In [20]:
#Immutable data type, on the other hand are objects whose content cannot be changed after they are created.
# once an immutable object is created,its value cannot be modified. any operation that seems to modified the object creates a new 
# objects instead.example:- integer,floats,string,tuple
str="hello world"
print(str)

hello world

In [23]:
str[2]="sh"
print(str)

TypeError: 'str' object does not support item assignment

In [ ]:
#Q5 
def division(a,b):
    
    count=0
    while a>=b and a%b==0:
        a//=b
        count +=1
        return count
    first=502030
    second=2
    result=division(first,second)
if result>0:
    print("first is divisible by second")
else:
        print("first is not divisible by second")

In [ ]:
|